/* Background colors
rgb(70,24,172)
rgb(52,18,129)

Footer color
rgb(21,7,51) */

/* Global Styles 
---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles 
---------------------*/

/* section "ads-banner" 
---------------------*/

/* Section  "new-games"
---------------------*/

/* section "promoted"
---------------------*/

/* section "recent" 
---------------------*/

/* section "recommended" 
---------------------*/

/* section "popular" 
---------------------*/

/* section "gift-cards" 
---------------------*/

/* section "extensions" 
---------------------*/

/* section "pre-order" 
---------------------*/

/* section "categories" 
---------------------*/

/* footer 
---------------------*/
