/* Background colors
rgb(70,24,172)
rgb(52,18,129)

Footer color
rgb(21,7,51) */

/* Card item for all sections
--------------------------

 .card-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid gold;
  height: auto;
  width: 220px;
}

.card-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(21, 2, 65);
  width: 100%;
}

.card-content h4 {
  margin-bottom: 10px;
}

.card-content h5 {
  color: grey;
}

.condition {
  color: rgb(10, 168, 10);
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.delivery {
  color: rgb(110, 110, 110);
} 
 */

/* Global Styles 
---------------------*/
:root {
  --main-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(70, 24, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}

.content-wrapper {
  max-width: calc(1200px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}
/* Header Styles */

header {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

.header-top-bg {
  background-color: rgb(70, 24, 172);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

header .searchbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 1rem 2.5rem 1rem 1rem;
  border: 1px solid white;
  width: 500px;
}

.header-svg-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.header-svg-button:hover {
  color: rgb(220, 187, 21);
}

.header-top input {
  padding-left: 1rem;
  color: white;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 700;
  outline: none;
  border: none;
  width: 400px;
}

.header-button {
  background-color: rgb(250, 211, 24);
  border: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.header-button:hover {
  background-color: rgb(190, 161, 18);
}

.strip {
  width: 1px;
  height: 16px;
  background-color: white;
}

.header-bottom-bg {
  background-color: rgb(52, 18, 129);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-bottom .header-white-svg {
  width: 20px;
  height: 20px;
}

.header-bottom-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  gap: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.header-bottom-button:hover {
  color: rgb(220, 187, 21);
  background-color: rgb(35, 13, 86);
}

.header-white-svg {
  width: 24px;
  height: 24px;
}

.header-flag {
  width: 16px;
  height: 16px;
}

.eneba-logo {
  width: 150px;
  height: 100px;
}

/* section "ads-banner" 
---------------------*/

.ads-banner-wrapper {
  max-width: 1920px;
}
.ads-banner-items {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
}

.ads-banner-items img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

/* top carousel
---------------------*/

.top-carousel-wrapper nav {
  display: flex;
  padding: 2rem 0px;
  justify-content: space-between;
  width: 100%;
}

.top-carousel-wrapper nav button {
  background-color: transparent;
  outline: hidden;
  border: none;
  width: 20px;
}

.top-carousel-wrapper nav button img {
  width: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(168deg)
    brightness(104%) contrast(102%);
}

.top-carousel-wrapper img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(168deg)
    brightness(104%) contrast(102%);
  width: 50px;
}

.top-carousel-wrapper a {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

/* Section  "gamers-posts"*/

.new-game-consoles {
  width: 100%;
  background-color: rgb(70, 24, 172);
  color: white;
  height: 100vh;
}

.new-game-consoles a img {
  width: 28px;
  height: 20px;
}

.new-game-consoles h1 {
  padding-bottom: 2rem;
}

.new-game-consoles a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 1rem 3rem;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.new-game-consoles-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section "promoted"
---------------------*/

/* section "recent" 
---------------------*/

/* section "recommended" 
---------------------*/

/* section "popular" 
---------------------*/

/* section "gift-cards" 
---------------------*/

/* section "extensions" 
---------------------*/

/* section "pre-order" 
---------------------*/

/* section "categories" 
---------------------*/

/* footer 
---------------------*/
